# Created by .ignore support plugin (hsz.mobi)
/node_modules
*.local
.vscode
cashless/.classpath
cashless/.gradle/
cashless/.idea/
cashless/.project
cashless/.settings/
cashless/bin/
cashless/build/
cashless/gradle/
cashless/gradlew
cashless/gradlew.bat
nodejs/node_modules/
front-end/cashless-payment/.idea
front-end/cashless-payment/node_modules
